body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

h1 {
    color: #3498db;
    text-shadow: 2px 2px 4px #ccc;
    margin-bottom: 20px;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

ul.patient-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.patient-list li {
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

ul.patient-list li:hover {
    transform: scale(1.03);
}

a {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #2980b9;
}

/* Add your custom styles here */
